
.menu {
    padding-top: 10px;
    width: 100%;
    top: 0;
    position: fixed; 
    z-index: 1000; /* Asegura que quede por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}



.about-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.images-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px 0 40px;
    flex-wrap: wrap;
    
}
.about-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgb(255, 255, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link {
    display: inline-block;
    padding: 6px 80px;
    background: linear-gradient(135deg, #99ff95 0%, #45db00 100%);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.575);
}
.link:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 40px rgba(155, 234, 102, 0.4);
    text-decoration: none;
    color: rgb(0, 0, 0);
}
