
.menu {
    padding-top: 10px;
    width: 100%;
    top: 0;
    position: fixed; 
    z-index: 1000; /* Asegura que quede por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}


