
.menu {
    width: 100%;
    top: 0;
    position: fixed; 
    z-index: 1000; /* Asegura que quede por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}



.about-content {
    padding-bottom: 60px;
    max-width: 1600px;
    margin: 0 auto;
}
.images-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px 0 30px;
    flex-wrap: wrap;
    
}
.about-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgb(255, 255, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}




.link1 {
    display: inline-block;
    padding: 2px 80px;
    background: linear-gradient(135deg, #99ff95 0%, #45db00 100%);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.575);
}
.link2 {
    display: inline-block;
    padding: 2px 80px;
    background: linear-gradient(135deg, #95fff6 0%, #00dbb7 100%);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.575);
    margin: 15px;
}
.link:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 40px rgba(155, 234, 102, 0.4);
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.about-text1 {
    padding-top: 50px;
}
.about-text2 {
    padding-top: 50px;
}

.new-images-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
}


.new-block {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(6px);
}


.new-img-wrapper {
    width: 480px;
    height: 350px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}



.new-img-wrapper img:hover {
    transform: scale(1.05);
}

.about {
    padding-top: 50px;
    color: rgba(0, 0, 0, 0.801);
}