.menuTop {
  min-height: 100vh; /* deja crecer el contenido */
  overflow: visible;
}


.users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5.5rem;
    justify-items: center;
    align-items: start;
    padding: 0px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 38px;
  max-width: 1480px;
  text-align: center;
  margin: 0 auto; 
}
.no-users-message {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    color: #666;
    margin: 2rem 0;
}
.users-container {
    max-width: 1200px; /* ancho razonable */
    margin: 0 auto;
    padding: 0 15px;
}



.user-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.322);
    overflow: hidden;
    padding: 30px;
    margin: 20px;
    width: 400px;
    text-align: center;
    transition: all 0.3s ease; 
}
.user-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.user-card-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.user-card p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
    font-weight: normal;
}



.buttonDel {
    background-color: rgba(255, 0, 0, 0.527);
    padding: 1px 8px;
    margin-top: 10px;
    color: rgb(34, 34, 34);
    border-radius: 500px;
    transition: background-color 0.3s;
    margin-left: 5px;
}
.buttonDel:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.buttonEdit {
    background-color: rgba(0, 123, 255, 0.527);   /* azul típico de "editar" */
    padding: 4px 10px;
    color: rgba(34, 34, 34, 0.877);
    border: none;
    border-radius: 500px;
    transition: background-color 0.3s;
    margin-right: 5px;
}
.buttonEdit:hover {
    background-color: rgba(0, 123, 255, 0.8);
}


