.menuTop {
  min-height: 100vh; 
  padding-top: 10px;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}


.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 38px;
  max-width: 1480px;
  text-align: center;
  margin: 0 auto; 
}

.cards {
  background-color: #ffffff;
  transition: transform 0.7s;
  padding: 15px 5px; /* suficiente espacio interno */
  border-radius: 12px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(114, 114, 114, 0.8);
  gap: 2rem;
}

.cards:hover {
  transform: scale(1.15);
}

.cards img {
  width: 110px;   /* tamaño más pequeño que antes */
  height: 110px;
  margin-bottom: 12px;
}

.titulo {
  font-style: italic;
  text-decoration: underline;
  padding: 25px;
  margin-bottom: 25px;
}

