.menuTop {
  min-height: 100vh; /* deja crecer el contenido */
  overflow: visible;
}



.profile-container {
  justify-content: center;
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.profile-title {
  margin-bottom: 1rem;
}
.profile-input {
  width: 60%;
  padding: 7px 18px;
  border: 2px solid #d0d0d0;
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  transition: border 0.3s;
}
.profile-input:focus {
  border-color: #6c5ce7;
  box-shadow: 0 0 0 3px rgba(108, 92, 231, 0.15);
}



.btn-primary {
  background: linear-gradient(135deg, #37a133, #075000);
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  padding: 5px 35px;
  border-radius: 7px;
  transition: all 0.2s ease;
  margin-top: 10px;
  align-self: center;
}
.btn-primary:hover {
  transform: translateY(-3px);
}
.btn-primary:active {
  transform: translateY(-1px);
}



.profile-form {
  background: rgba(255, 255, 255, 0.35);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
  width: 38%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}



.profile-preview {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 5px solid white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background: #ddd;
    overflow: hidden;                 
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.upload-button {
  background: transparent;
  color: #6c5ce7;
  border: 2px solid #6c5ce7;
  padding:1px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.upload-button:hover {
  background: #6c5ce7;
  color: white;
}
.hidden-file-input {
  display: none;
}











