.navbar {
    display: flex;
    justify-content: center;     
    gap: 20px;              
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.548);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.158);
    border-radius: 12px;
    flex-wrap: wrap;       
    margin-bottom: 5px;  
}

.subMenu {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.subMenu:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



