.subMenu {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 5px 15px 5px 15px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.subMenu:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
  background: linear-gradient( #ffffff, #c0c0c0); /* invertir degradado al pasar el mouse */
}

.navbar {          
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow: 0 4px 20px rgba(14, 165, 233, 0.15);
}

.botones {
  justify-content: center;     /* ← Cambia aquí: flex-start | center | flex-end | space-between */
  align-items: center;
  padding: 15px 0 15px 0;                /* Se adapta en móvil */
}




