#root {
  width: 100vw;
  /*max-width: 1480px;*/
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow-y: auto;
}

body {
  background-color: rgba(226, 226, 226, 0.808);
  overflow-y: auto;
}

